{% extends 'main.html' %}
{% block content %}
  <div class="chatContent">
    {% if channel_id and channel_name %}
      <header class="chatHeader">{{ channel_name }}</header>
    {% else %}
      <header class="chatHeader">No channel ID provided.</header>
    {% endif %}
    {% comment %} <header class="chatHeader">Channel XYZ</header> {% endcomment %}
    <div class="divider"></div>
    <div class="chatMessages" id="frontMessage">
      {% for message in messages %}
        {% if message.author.username == request.user.username %}
          <div class="chatLoggedUserMessageOuter">
            <div class="chatLoggedUserMessageMain">
              <div class="chatLoggedUserMessageBubble">
                <i>{{ message.text }}</i>
                <span class="loggedUserMessageClockTimeContainer">
                  {{ message.created_time }} Uhr
                  <span class="material-symbols-outlined loggedUserAllDone">done_all</span>
                </span>
              </div>
              <div class="loggedUserMessageInfo">
                <span class="grey">[{{ message.created_at }}]</span>
                <span style="color: #3F51B5;"><b>{{ message.author.username }}</b></span>
              </div>
            </div>
          </div>
        {% elif message.author.username != request.user.username %}
          <div class="chatOtherUserMessageOuter">
            <div class="chatOtherUserMessageMain">
              <div class="chatOtherUserMessageBubble">
                <i>{{ message.text }}</i>
                <span style="position: absolute; left: 23px; font-size: 10px; bottom: -4px;">{{ message.created_time }} Uhr</span>
              </div>
              <div class="otherUserMessageInfo">
                <span class="grey">[{{ message.created_at }}]</span>
                <span style="color: #3F51B5;"><b>{{ message.author.username }}</b></span>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <div id="scrollMark"></div>
    </div>
    <div class="divider"></div>
    <form class="messageInput" onsubmit="sendMessage( {{ channel_id }} ); return false;" method="POST">
      {% csrf_token %}
      {% comment %} <input type="text" id="messageInput" name="textmessage" /> {% endcomment %}
      <div class="mdl-textfield mdl-js-textfield messageTextfield">
        <input class="mdl-textfield__input" type="text" id="messageInput" name="textmessage" maxlength="300" onkeyup="validateSendMessageBtn()" />
        <label class="mdl-textfield__label" for="textmessage">Nachricht...</label>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored sendBtn" type="submit" style="min-width: unset;" id="sendMessageBtn" disabled="true"><span class="material-symbols-outlined">send</span></button>
    </form>
  </div>
{% endblock %}